NEXT_PUBLIC_SUPABASE_URL=SuaUrlDoSupabaseAqui
NEXT_PUBLIC_SUPABASE_ANON_KEY=SuaChaveAnonAqui

# Somente para uso interno da API Python Serverless
SUPABASE_SERVICE_ROLE_KEY=SuaChaveDeServicoAquiParaBurlarRLSSomenteParaAdmin
SUPABASE_JWT_SECRET=SuaChaveSecretaParaValidarJWTsAqui
